.form-control {
    width:300px;
}

form {
    height:70vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;

}

button{
    margin-top: 10px;
}

.title{
    margin-top: 100px;
    margin-left: 59px;
    font-weight:bold;
}

a:-webkit-any-link{
    color: white;
    cursor: pointer;
    text-decoration: none;

}